<?xml version="1.0"?>
<robot name="haubentaucher" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="namespace" value="haubentaucher" />
    <xacro:property name="max_range" value="8.0"/>

    <!-- Collision bitmask - By default collides with everything -->
    <xacro:arg name="collision_bitmask" default="-1" />
    <xacro:property name="collision_bitmask" value="$(arg collision_bitmask)" />

    <!-- Instantiate kopterworx mechanics "mechanics" -->
    <xacro:include filename="$(find haubentaucher_description)/urdf/haubentaucher_base.urdf.xacro" />
    <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />
  
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/$(arg namespace)</robotNamespace>
            <robotParam>/$(arg namespace)/robot_description </robotParam>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>
  

    <gazebo reference="${namespace}/base_link">      
        <material>Gazebo/White</material>
    </gazebo> 

    <!--Mount a generic odometry sensor without odometry map (working everywhere).-->
    <xacro:odometry_plugin_macro
        namespace="${namespace}"
        odometry_sensor_suffix="1"
        parent_link="${namespace}/base_link"
        pose_topic="odometry_sensor1/pose"
        pose_with_covariance_topic="odometry_sensor1/pose_with_covariance"
        position_topic="odometry_sensor1/position"
        transform_topic="odometry_sensor1/transform"
        odometry_topic="odometry_sensor1/odometry"
        parent_frame_id="world"
        child_frame_id="${namespace}/odometry_sensor1"
        mass_odometry_sensor="0.00001"
        measurement_divisor="1"
        measurement_delay="0"
        unknown_delay="0.0"
        noise_normal_position="0 0 0"
        noise_normal_quaternion="0 0 0"
        noise_normal_linear_velocity="0 0 0"
        noise_normal_angular_velocity="0 0 0"
        noise_uniform_position="0 0 0"
        noise_uniform_quaternion="0 0 0"
        noise_uniform_linear_velocity="0 0 0"
        noise_uniform_angular_velocity="0 0 0"
        enable_odometry_map="false"
        odometry_map=""
        image_scale="">
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />  <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </xacro:odometry_plugin_macro>

    <arg name="enable_logging" default="false" />
    <arg name="enable_ground_truth" default="true" />
    <arg name="log_file" default="$(arg mav_name)" />

    <!-- Instantiate a controller. -->
    <xacro:controller_plugin_macro namespace="${namespace}" imu_sub_topic="imu" />

    <xacro:default_imu namespace="${namespace}" parent_link="${namespace}/base_link" />

    <xacro:ground_truth_imu_and_odometry namespace="${namespace}" parent_link="${namespace}/base_link" />-->

    <!-- Set up hydrodynamic plugin given as input parameter 
    <xacro:insert_block name="gazebo"/>-->

    <!-- <xacro:include filename="$(find hydrone_aerial_underwater_description)/urdf/hydrone_aerial_underwater_sensors.xacro" /> -->
    <!-- <xacro:include filename="$(find hydrone_aerial_underwater_description)/urdf/hydrone_aerial_underwater_actuators.xacro" /> -->


</robot>
