<launch>

  <arg name="model" default="$(find haubentaucher_rviz)/urdf/haubentaucher_rviz.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find haubentaucher_rviz)/rviz/urdf.rviz" /> 

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
